.calculator {
  margin: 2rem auto;
}
.calculator h2 {
  padding: 1.5rem 0;
}

.calculator select {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 400;
  padding: 10px;
}

.calculator #persons-amount-select select {
  border-radius: 10px;
  border: 2px solid #000;
}

@media only screen and (max-width: 990px) {
  .calculator {
    flex-direction: column;
  }
  .calculator p,
  .calculator input,
  .calculator button {
    margin: 10px 0;
  }
}
