/* .content ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
} */

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 1fr 1fr 1fr; */
  gap: 20px 20px;
}

@media only screen and (max-width: 990px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  .list {
    grid-template-columns: 1fr;
  }
}
